.aco_icon_right {
    z-index: auto;
    position: relative;
    text-align: right;
    float: right
}

.aco_dimmed {
  opacity: 0.3;
}

.aco_collapsed_tags_category{
    /* border: 1px dotted; /* this is rather for debugging during development! */
    min-height: 1.6em;
}

.aco_category_pill {
    float: right !important;
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    padding: 1px 3px 1px 2px;
    border-radius: 3px;
    margin-right: 0px !important;
}

.aco_comment_icon{
    padding-right: 5px;
    margin-bottom: 0px;
    float:left;
}
.aco_expanded_latest_comment{
    display: block;
    text-overflow: ellipsis !important;
    word-wrap:normal;
    overflow-y: auto;
    overflow-x: hidden;

    margin: 0px 2px;
    border: 1px dotted;
    border-color: #555;
    border-radius: 4px;
    padding: 0.2em;
    color: #555;
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 4.8em;

    /* this is for Firefox */
    scrollbar-color: #555 #F5F5F5 !important;
    scrollbar-width: thin !important;
}

.aco_expanded_latest_comment::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.aco_expanded_latest_comment::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.aco_expanded_latest_comment::-webkit-scrollbar-thumb
{
	background-color: #555;
}
