.aco_icon_right {
    z-index: auto;
    position: relative;
    text-align: right;
    float: right
}

.aco_dimmed {
  opacity: 0.3;
}

.aco_collapsed_tags_category{
    /* border: 1px dotted; /* this is rather for debugging during development! */
    min-height: 1.6em;
}

.aco_category_pill {
    float: right !important;
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    padding: 1px 3px 1px 2px;
    border-radius: 3px;
    margin-right: 0px !important;
}
.aco_category_pill a:hover {
    text-decoration: underline
}


.acoToggleTextbox {
    opacity: 0.5;
}

.aco_scroller_icon{
    padding-right: 5px;
    margin-bottom: 0px;
    float:left;
}

.aco_scroller_text{
    display: block;
    text-overflow: ellipsis !important;
    word-wrap:normal;
    overflow-y: auto;
    overflow-x: hidden;

    margin: 0px 2px;
    border: 1px dotted;
    border-color: #555;
    border-radius: 4px;
    padding: 0.2em;
    color: #555;

    /* Small scrollbar for Firefox */
    scrollbar-color: #555 #F5F5F5 !important;
    scrollbar-width: thin !important;
}

.aco_scroller_description{
    border: 1px solid !important;
    margin-bottom: 2px;
}

.aco_scroller_text_small_3lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 3.0em;
}

.aco_scroller_text_small_4lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 4.0em;
}

.aco_scroller_text_small_5lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 5.0em;
}

.aco_scroller_text_small_6lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 6.0em;
}

.aco_scroller_text_small_7lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 7.0em;
}

.aco_scroller_text_small_8lines{
    font-size: 0.7em;
    line-height: 1.0em;
    max-height: 8.0em;
}


.aco_scroller_text_medium_3lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 3.3em;
}

.aco_scroller_text_medium_4lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 4.4em;
}

.aco_scroller_text_medium_5lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 5.5em;
}

.aco_scroller_text_medium_6lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 6.6em;
}

.aco_scroller_text_medium_7lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 7.7em;
}

.aco_scroller_text_medium_8lines{
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 8.8em;
}


.aco_scroller_text_normal_3lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 3.6em;
}

.aco_scroller_text_normal_4lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 4.8em;
}

.aco_scroller_text_normal_5lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 6.0em;
}

.aco_scroller_text_normal_6lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 7.2em;
}

.aco_scroller_text_normal_7lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 8.4em;
}

.aco_scroller_text_normal_8lines{
    font-size: 0.9em;
    line-height: 1.2em;
    max-height: 9.6em;
}

.aco_scroller_text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.aco_scroller_text::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.aco_scroller_text::-webkit-scrollbar-thumb
{
	background-color: #555;
}
